
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Ubuntu", sans-serif;
    background-color: darkgray;
  }
  
  button {
    outline: none;
  }
  
  .head-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 90vh;
  }
  .header-container{
    box-shadow: 10px 10px 10px rgb(67, 67, 67);
    background-color: white;
    margin: 30px;
    font-family: cursive;
    padding: 30px;
    border-radius: 30px;
    min-width: 50vw;
  }
  .hide {
    transition: ease-out 20s;
    display: none;
  }
  
  .button-cla {
    margin-top: 1.2rem;
  }
  .header-text {
    font-size: 3.5rem;
    font-weight: 500;
  }
  
  .header-logo {
    height: 18rem;
    width: 300px;
    margin: 1rem;
  }
  
  .nextbtn {
    background-color: #403f4c;
    color: #5fbb97;
    padding: 13px;
    font-weight: bold;
    width: 15rem;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 1s, color 1s;
  }
  .nextbtn:hover{
    background-color: rgb(255, 137, 137);
    color:rgb(77, 0, 0);
  }
  
  /* ------------Rules CSS------------- */
  
  .rule-box {
    background-color: rgba(255,255,255,0.4);
    margin: 1rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
  }
  
  .rule-title {
    font-size: 3rem;
    margin-top: 1rem;
  }
  
  .instructions {
    margin: 1rem;
    border-bottom: 1px solid #5fbb97;
  }
  
  li {
    margin: 1rem;
    font-size: 1rem;
  }
  
  .startbtn {
    background-image: linear-gradient(45deg,red,blue);
    color: white;
    padding: 10px;
    width: 15rem;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
    transition: all 1s ease;
  }
  /* .startbtn:hover{
    background-image: linear-gradient(270deg,red,blue);
    color: black;
  } */
  
  .category-btn {
    background-color: #ffffff;
    color: #403f4c;
    width: 6.5rem;
    height: 5rem;
    text-align: center;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.1rem;
    justify-content: center;
  }
  .categories{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 10px;
  }
  @media screen and (max-width:630px) {
    .categories{
      grid-template-columns: auto auto auto;
    }
  }
  .category {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #5fbb97;
  }
  
  .category-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  /* --------------- Questions --------------- */
  .timer{
    font-size: 2rem;
    font-weight: bold;
    color: #e00000;
    background-color: #ffffff;
    height: 4rem;
    width: 4rem;
    padding-top: 0.7rem;
    padding-right: 0.1rem;
    text-align: center;
    justify-content: center;
    border-radius: 20%
  
  }
  
  .question-box {
    display: flex;
    margin-top: 14vh;
    flex-direction: column;
    align-items: center;
  }
  
  .questions {
    background-color: #403f4c;
    color: #ffffff;
    border: 0;
    min-height: 40vh;
    border-radius: 20px;
    margin: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  
  .questions-container nav{
    background-color: #1B2432;
    padding: 10px;
    text-align: center;
    color:white;
    font-size: 30px;
  }

  .main-question {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    align-items: center;
    text-align: center;
  }
  
  .option-1,
  .option-2,
  .option-3,
  .option-4 {
    text-align: center;
    width: 20rem;
    border: 0;
    font-size: 0.9rem;
    background-color: #ffffff;
    color: #403f4c;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .next-question {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .nextq-btn {
    background-color: #403f4c;
    color: #ffffff;
    padding: 13px;
    width: 15rem;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.15rem;
  }
  
  .choosen {
    background-color: #1B2432;
    color: #5fbb97;
  }
  
  .points-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 90vh;
  }
  .points-container{
    background-color: white;
    margin: 30px;
    border-radius: 30px;
    box-shadow:10px 10px 10px;
  }
  .points-bottom{
    color: red;
    position: fixed;
    bottom: 0;
  }
  .winner-logo {
    max-height: 22rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .logo p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
  }
  
  .point-text {
    font-size: 2.25rem;
    text-align: center;
    font-family: cursive;
  }
